body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-size: 70px;
    font-family: 'Segoe UI', cursive, Calibri;
}

h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    color: black;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 5px;
}