body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-size: 70px;
    font-family: 'Segoe UI', cursive, Calibri;
    margin: 10px;
}

.recipe-card {
    width: 500px;
    font-size: 20px;
    text-align: center;
    margin: 80px auto;
}

.recipe-card a {
    color: black;
    text-decoration: none;
}


.recipe-card img {
    display: block;
    width: 500px;
}